h1,h2{
    color:cornflowerblue;
    background-color: rgb(20, 247, 255);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
body{
    color:blueviolet
}
#t4{
    color: yellow;
    font-size: 15px;
    font-family: 'Trebuchet MS';
}
.estilos{
    color: darkcyan;
    font-style: italic;
}